body{
    font-family: Arial, Helvetica, sans-serif;
    padding:40px;
}

.completed{
    text-decoration: line-through;
}
input{
    padding:10px;
}

button{
    padding:10px;
    cursor:pointer;
}

li{
    margin:10px 0;
}